$blue : #0584FE; 
$dark-blue : #1253A2;
$white : #fff;
$black : #000;
$gray : #BCBCBC;
$dark-gray : #8F8F8F;
$light-gray : #EEEFF1;
$red : rgb(255, 164, 164);
$green : rgb(69, 156, 69);

$header-background-gradient : linear-gradient(90deg, #000000 30%, #1C2734 73%)

