@import '../vars/colors.scss';
.m-btn{
    display: block;
    font-size: 15px;
    padding: 9px 18px;
    border-radius: 7px;
    appearance: none;
    border: none;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;
    
    &:active {
        transform: scale3d(0.99,0.99,1) translate3d(0, 1px, 0);
    }
    &.blue { 
        background-color: $blue;
        color : $white;
        
        @media ( hover : hover) {
            &:hover{
                background-color: darken($blue, 20);
            }
        }
    }
    &.white {
        background-color: $white;
        color : $black;

        border: 1px solid $blue;

        @media (hover : hover) {
            &:hover{
                background-color: darken($white, 10);
            }
        }
    }

    
    &.loading{
        animation: loading-btn 1.5s infinite;
    }
}

@keyframes loading-btn {
    50% {
        opacity: 0.6;
    }
    from, to {
        opacity: 1;
    }
}